/****************************************
280: galaxy fold 
320: iphone5/SE
360: moto g4
    galaxy S5
375: iphone 6/7/8
      iphone X
411:pixel 2
    pixel2 XL
414: iphone 6/7/8/ plus
540: surface duo
768: ipad
1024: ipad pro
      next hub
1280:  next hub max

*******************************************/

@media (max-width: 650px) {
  .wrapper {
    visibility: hidden;
  }
  .Account {
    visibility: hidden;
  }
  .main {
    width: 100%;

    margin-left: 0;

    margin-top: 0;
    position: relative;
    z-index: 1;
  }
}

/********************************************/
@media (max-width: 1032px) {
  .weweb {
    font-size: 45px;
  }
}

@media (max-width: 932px) {
  .weweb {
    font-size: 35px;
  }
}
@media (max-width: 732px) {
  .weweb {
    font-size: 30px;
  }
}
@media (max-width: 628px) {
  .weweb {
    font-size: 25px;
  }
}
@media (max-width: 650px) {
  .weweb {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  h1 {
    line-height: 0.8;
    margin-top: 2%;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
@media (max-width: 650px) {
  .clock {
    font-size: 3vh;
  }
}

/****************.homepage-grid*******************************/
@media (max-width: 650px) {
  .homepage-grid {
    display: block;
  }
}

@media (max-width: 650px) {
  .fun-wrap {
    padding: 1.5rem;
    margin: 0 0 3rem;
  }
}

@media (max-width: 650px) {
  .need-photo {
    margin: 2rem 0 -1.5rem -1.5rem;
    padding: 0.5rem 2rem 0.33rem;
  }
}
/****************.homepage-grid2*******************************/

@media (max-width: 650px) {
  .homepage-grid2 {
    display: block;
  }
}
