/*********************header********************/
@media (max-width: 490px) {
  #apple,
  #twitter,
  #github,
  #facebook {
    visibility: hidden;
  }

  .header {
    padding: 2rem 100px;
  }
}
/*********************menu********************/

@media (max-width: 991px) {
  .container {
    background-image: none;
  }
  .container label {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 660px) {
  .container {
    height: 80px;
  }
}
@media (max-width: 610px) {
  .container {
    height: 110px;
  }
}

/************************centre card********************************/
@media only screen and (max-width: 650px) {
  .card2 {
    margin-top: 450px;
  }

  .cards {
    display: block;
  }
}

/*********************main********************/

@media (min-width: 650px) {
  .main {
    display: flex;

    width: 90%;
    height: auto;
    margin-top: 600px;
    margin-left: 5%;
    border: none;
    border-radius: 16px;
    padding: 5px;

    flex-wrap: wrap;
  }
  .contenue {
    width: 70%;
    height: auto;

    display: flex;
    flex-wrap: wrap;

    margin-top: 80px;
  }
  .card-work {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    color: #717790;
    position: relative;
    z-index: 1;
    width: 350px;
    height: auto;
    z-index: 1;
    margin-right: 40px;
    margin-top: 80px;
  }
}

@media (max-width: 650px) {
  .main {
    width: 100%;
    padding: 0 5%;
    margin-top: 1000px;
    background-color: transparent;
  }
  .slidbar {
    visibility: hidden;
  }
  .contenue {
    width: 100%;
    background-color: transparent;
    display: block;
    padding: 0;
    margin-top: 70px;
  }
  .card-work {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    color: #717790;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    z-index: 1;
    margin-right: 0;
    margin-top: 80px;
    background-color: transparent;
  }
}

/**********************footer*******************/
