/*********************header********************/
@media (max-width: 490px) {
  #apple,
  #twitter,
  #github,
  #facebook {
    visibility: hidden;
  }

  .header {
    padding: 2rem 100px;
  }
}

/*********************main********************/
@media (min-width: 650px) {
  .main {
    display: flex;

    width: 90%;
    height: auto;
    margin-top: 600px;
    margin-left: 5%;
    border: none;
    border-radius: 16px;
    padding: 5px;

    flex-wrap: wrap;
    background-color: red;
  }
}
@media (max-width: 650px) {
  .main {
    width: 100%;
    padding: 0 10%;
    margin-top: 1000px;
  }
  .slidbar {
    visibility: hidden;
  }
}

/************************centre card********************************/
@media (min-width: 650px) {
  .cards {
    display: flex;
  }
}
@media (max-width: 650px) {
  .card2 {
    margin-top: 100px;
  }

  .card1 .box,
  .card1 .box:before,
  .card1 .box:after {
    margin-left: 100px;
  }
}

/*********************menu********************/

@media (max-width: 991px) {
  .container {
    background-image: none;
  }
  .container label {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 660px) {
  .container {
    height: 80px;
  }
}
@media (max-width: 610px) {
  .container {
    height: 110px;
  }
}
/*****************************************/
